<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Galerie - bijuterii cu diamante</title>
		<meta name="keywords" content="bijuterii, diamante, inele, cercei, bratari, coliere, seturi de bijuterii, inel de logodna">
		<meta name="description" content="Bijuterii încrustate cu diamante frumoase, unice, veritabile! Inele | Brățări | Cercei | Coliere | Seturi de bijuterii">
       
        <%- include("../fragmente/head.ejs"); %>

	</head>

    <body>
        <%- include("../fragmente/header.ejs"); %>

        <main id="main-galerie">
            <div>
                <%- include("../fragmente/galerie_statica.ejs"); %>
            </div>
        </main>

        <%- include("../fragmente/footer.ejs"); %>

    </body>

</html>