main{
    --padd-main:1rem;
    padding-left:var(--padd-main);
    padding-right:var(--padd-main);
}

.grid-produse{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:10px;
}

.grid-produse>  :nth-child(8n+2), 
.grid-produse>  :nth-child(8n+4){
    background-color: lightblue;
}

.grid-produse>  :nth-child(8n+5), 
.grid-produse>  :nth-child(8n+7){
    background-color: pink;
}


@media screen  and (max-width:1000px){
    .grid-produse{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-produse>*:nth-child(n){
        background-color: white;
    }
}

.jucarie:hover~.pret {
        outline: green solid 2px;
        transform: rotate(45deg);
        transition-duration: 3s;
}