<footer>
    <section id = "informatii-contact">
        <h2>Informații de contact</h2>
        <address>
            Telefon: <a href="tel:+40722572960" target="_blank">0722572960</a>
            <br/>
            Adresa: <a href="https://www.google.com/maps/place/Faculty+of+Mathematics+and+Informatics+-+University+of+Bucharest/@44.4353349,26.0994336,18.58z/data=!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867" target="_blank">Strada Academiei 14, București 010014</a>
            <br>
            Email: <a href = "mailto: diamantecastanilor@gmail.com" target="_blank">diamantecastanilor@gmail.com</a>
            <br>
            Whatsapp: <a href= "https://wa.me/0722572960" target="_blank">0722572960</a>
        </address>
    </section>

    <p id="banner">Acesta este un proiect scolar. Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></p>

    <br/> <br/>
    <small> 
        &#169; Castanilor
        <time datetime="2022-02-22"> 22 Februarie 2022 </time>
    </small>

    <br/> <br/>

    <a id="link_top" href="#">&#5123 <title class="tooltiptext">Top</title></a>
</footer>